body {
	background-color:#aaa;
	margin:0;
	font-family:Tahoma;
}
nav {
	display:none;
}
.page {
	background-color:#fff;
	width:800px;
	padding:30px;
	border:1px solid #888;
	min-height:100vh;
	margin:0 auto 30px auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(100,100,100,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(100,100,100,1);
	box-shadow: 0px 0px 20px 0px rgba(100,100,100,1);
}
.bio-pic {
	text-align:center;
	padding:20px 0;
}
h1 {
	font-weight:bold;
	font-size:1.5em;
}
.skills-section {
	float:left;
	width:180px;
	font-weight:bold;
}
.position-company {
	float:left;
}
.position-title {
	font-weight:bold;
}
.date-range {
	float:right;
}
.project {
	margin:0 20px;
}
.project-title {
	font-style:italic;
	font-weight:bold;
}
.project-description {
	margin:10px 20px;
}
.college {
	float:left;
}
.college-degree {
	font-weight:bold;
}